node_modules
























































.yarn-integrity# Yarn Integrity file*.tgz# Output of 'npm pack'.node_repl_history# Optional REPL history.npm# Optional npm cache directoryjspm_packages/# Dependency directories.nyc_output/# nyc test coveragecoverage/# Coverage directory used by tools like istanbul*.pid.lock*.seed*.pidpids/# Runtime data*.loglogs/# LogsThumbs.db.DS_Store# OS files*.swo*.swp.idea/.vscode/# IDE files.env.production.local.env.test.local.env.development.local.env.local.env# Environment variablesdist/build/# Production buildsyarn-error.log*yarn-debug.log*npm-debug.log*node_modules/